<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="tests/bootstrap.php"
    cacheDirectory=".phpunit.cache"
    colors="true"
    failOnRisky="true"
    failOnWarning="true"
    executionOrder="random"
>
    <testsuites>
        <testsuite name="Mixin">
            <directory suffix="Test.php">tests/Mixin</directory>
        </testsuite>
        <testsuite name="Reflect">
            <directory suffix="Test.php">tests/Reflect</directory>
        </testsuite>
        <testsuite name="Bytecode">
            <directory suffix="Test.php">tests/Bytecode</directory>
        </testsuite>
        <testsuite name="Internals">
            <directory suffix="Test.php">tests/Internals</directory>
        </testsuite>
    </testsuites>
</phpunit>
